nav form {
    max-width: 600px;
}

.aside {
    background-color: lightpink;
}

.main {
    background-color: lightcyan;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
}


.main-content {
    flex: 1;
    /* display: flex; */
}

.content-row {
    flex: 1;
}

/* item showoff*/

.item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-card {
    width: 18rem;
    box-shadow: 0 10px 1rem rgba(0, 0, 0, .15);
    transition: all .2s;
}

.item-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 1rem rgba(0, 0, 0, .15);
}

.hack-item {
    width: 18rem;
    height: 0;
}

.carousel-image {
    width: 100%;
    height: 18rem;
    background-size: cover;
    background-position: center;
}

#contacts {

    background-color: white;
}

/* footer */


.footer {
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
}


.item-grid-heading,
.promotion-alert {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item-grid-heading button {
    border: none;
    background-color: transparent;
}

aside {
    min-height: 200px !important;
}

aside .ad {
    width: 100%;
    height: 100%;
    background:
        url("../public/bubblePubblicita.png"),
        linear-gradient(white, white);
    background-repeat: repeat;
}

.card-link,
.card-link:hover {
    color: inherit;
}



/* product page */

.price {
    font-size: 23px;
}

.product-desc h2 {
    font-size: 23px;
}

.share-section a,
.share-section a:hover {
    color: inherit;
}

.add-to-cart-card button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-desc .main-image {
    width: 100%;
}


/*form*/
.form-container {
    width: 100%;
}

.form-container .form-content {
    max-width: 800px;
    margin: auto;
}

td.quantity,
td.category {
    text-align: center;
}

div.profile {
    padding-bottom: 200px;
    ;
}

td.actionsProfile {
    vertical-align: top;
    padding-top: 30px;
}

table.profileTable {
    width: 100%;
}

.inviteRegistration {
    padding: 20px;
}

#login {
    margin-top: 10px;
}